@import url("https://fonts.googleapis.com/css2?family=Roboto:wght,wght@1,500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #111217;
  color: white;
}
h1 {
  font-size: 4vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.5vw;
}
h4 {
  font-size: 2vw;
}
h5 {
  font-size: 1.5vw;
}
h6 {
  font-size: 0.9vw;
}
.navbar {
  background-color: #1b1c23;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: grey;
}
.mid__search {
  display: grid;
  place-items: center;
}
.left {
  display: flex;
}
.mid__search form input {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid grey;
}
.mid__search form input:focus {
  background-color: transparent;
  border: 2px solid #0c8b7e;
  color: white;
}
.avatar__img img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right div {
  margin-left: 20px;
}

/* Style The Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #1b1c23;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #2a2c3d;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 100;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropbtn {
  border-radius: 100px;
  width: 35px;
  height: 35px;
}
.main__img {
  position: relative;
  text-align: center;
  color: white;
}
.centered__main__img__cont {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.img__stuf {
  text-align: left;
  width: 50vw;
}

.img__stuf img {
  width: 15vw;
  height: 15vw;
}
.main__img__btn {
  /* margin-top: 15px; */
  background-color: #0c8b7e;
  color: white;
  border-radius: 10px;
}
.games__icons {
  display: flex;
  flex-direction: column;
  width: 50px;
}
.side__games__line {
  background-color: #1b1c23;
  height: 100%;
}
.games__icons img {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}
.top__img____games__icons {
  display: grid;
  grid-template-columns: 1fr 49fr;
}
.tournaments__section {
  margin: 2% 10%;
}
.tournaments__section div {
  margin: auto;
}
.tournaments__section .card {
  display: inline-block;
  margin-left: 4%;
}
.card {
  color: white;
  background-color: #111217;
}
.card img {
  border-radius: 10px;
}
.creator__logo img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
.card-body {
  display: flex;
}
.card-body div {
  margin-right: 20px;
}

.tournament__inner__top__2 h1 {
  margin-bottom: 30px;
}

.game__box {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
}

.game__img {
  overflow: hidden;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}

.game h5 {
  color: white;
}
.main__games__games__page {
  margin: 10px auto;
}
.main__tournament__tournament__page {
  margin: 10px auto;
}
.tournament__box {
  width: 70vw;
}
.tournament {
  display: flex;
  flex-wrap: wrap;
}
img {
  background-position: center center;
  background-repeat: no-repeat;
}
