@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #111217;
  color: white;
}
.navbar {
  background-color: #1b1c23;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: grey;
}
.mid__search {
  display: grid;
  place-items: center;
}
.left {
  display: flex;
}
.mid__search form input {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid grey;
}
.mid__search form input:focus {
  background-color: transparent;
  border: 2px solid #0c8b7e;
  color: white;
}
.avatar__img img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right div {
  margin-left: 20px;
}

.main__img {
  position: relative;
  text-align: center;
  color: white;
}
.centered__main__img__cont {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.img__stuf {
  text-align: left;
  width: 50vw;
}

.img__stuf img {
  width: 15vw;
  height: 5vw;
}
.main__img__btn {
  /* margin-top: 15px; */
  background-color: #0c8b7e;
  color: white;
  border-radius: 10px;
}
.games__icons {
  display: flex;
  flex-direction: column;
  width: 50px;
}
.side__games__line {
  background-color: #1b1c23;
  height: 100%;
}
.games__icons img {
  height: 50px;
  object-fit: cover;
  padding: 5px;
  border-radius: 100%;
}
.top__img____games__icons {
  display: grid;
  grid-template-columns: 1fr 49fr;
}

.middle__tournament__Section {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 10vw;
}
.card {
  display: inline-block;
  margin-right: 10px;
  background-color: #111217;
}
.card img {
  float: left;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.main__tournament__tournament__page {
  margin: 0 10vw;
}
.main__games__games__page {
  margin: 0 10vw;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111217;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
.right-nav {
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .img__stuf h6 {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .right,
  .center {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .side__games__line {
    display: none;
  }
  .top__img____games__icons {
    display: block;
  }
}
